html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
body {
  margin: 0;
  background-image: url(../img/background.png);
  background-size: cover;
  font-family: Arsenal, sans-serif;
  color: #0F466D;
  font-weight: bold;
  line-height: 27px;
}
  
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;    
}
  
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
a {
  text-decoration: none;
}
  
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* page */
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

/* container */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 0 27%;
  padding: 0 50px;
}

.container-header {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 350px;
  margin: auto 0px;
  padding: 0 50px;
}

.container-inner {
  border-left: solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header {
  width: 27%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0F466D;
}

#navTog {
  display: none;
}

label {
  display: none;
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: 15px;
  width: 100%;
  height: 100vh;
  border-left: solid 1px #fff;
}

.logo {
  position: relative;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px; 
}

.logo img {
  width: 100%;
  padding: 5px;
}

/* Nav */
.navside {
  position: relative;
  left: 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #ffffffd8;
  font-size: 14px;
  margin: 20px 0;
  padding-left: 5px;
}

.square-nav {
  position: absolute;
  left: -35px;
  width: 30px;
	height: 30px;
	background: #EB773E;
  overflow-y: hidden;
  opacity: 0;
  transition: 0.5s;
}

.nav-link:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.active .square-nav {
  opacity: 1;
  transform: 0;
}

.header-address {
  position: relative;
  padding-left: 5px;
  text-decoration: none;
  color: #fff;
  left: 20px;
  margin-bottom: 45px;
}

.header-tel {
  text-transform: none;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}

.header-address-info {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.dark {
  opacity: 0;
  display: none;
}

.page-right {
  position: relative;
}

/* main */
.main {
  position: relative;
}

/* intro */
.intro {
  height: 100vh;
}

.intro-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.intro-img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.intro-img-mob {
  display: none;
}

.intro-descriptor {
  position: relative;
  margin-top: 20px;
  left: 35px;
  padding: 5px;
  font-size: 16px;
  line-height: 25px;
  width: 340px;
}

.intro-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 620px;
  height: calc(100vh - 80px);;
  left: 0px;
  top: 0;
}

.intro-logo {
  display: none;
}

.intro-title {
  position: relative;
  font-size: 48px;
  line-height: 60px;
  padding-left: 35px;
  border-left: solid 3px;
  margin-bottom: 70px;
}

/* BTN */
.btn {
  width: 330px;
  height: 60px;
  background-color: rgba(235, 119, 62, 1);
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  padding-top: 19px;
  position: relative;
  left: 40px;
}

/* section */
.section {
  padding: 45px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* selection */
.selection,
.benefits {
  height: 100vh;
}

.selection-title,
.benefits-title,
.flats-title,
.reviews-title {
  font-size: 30px;
  line-height: 38px;
  padding-left: 35px;
  margin-bottom: 30px;
}

.selection-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.selection-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 35px;
  margin-right: 35px;
}

.selection-info-text p {
  font-size: 18px;
  line-height: 23px;
  width: 426px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.selection-list {
  list-style-type: none;
  list-style-image: url(../img/square.png);
  list-style-position: inside;
  margin-left: 10px;
  margin-top: 10px;
}

.selection-point {
  font-size: 18px;
  line-height: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.selection-info-doing {
  margin-left: 35px;
  margin-top: 30px;
}

.selection-info-doing p {
  font-size: 18px;
  margin-bottom: 20px;
}

.selection-info-doing-poins {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}

.selection-info-doing-poins p {
  border: solid #EB773E 2px;
  padding: 12px;
}

hr {
  margin-top: 6%;
  border: none;
  width: 15px;
  height: 1px;
  background-color: #EB773E;
  color: #EB773E;
  margin-left: 0;
  margin-right: 0;
}

.selection-btn {
  display: flex;
  flex-direction: row;
  margin-top: 30px; 
  margin-bottom: 15px;
}

.selection-btn .btn {
  position: relative;
  left: 35px;
  top: 5px;
}

.selection-btn-info {
  border-left: solid;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 115px;
  padding-left: 25px;
}

/* benefits */
.benefits,
.reviews {
  background: url(../img/background-color.png);
  background-size: cover;
}

.benefits-table {
  position: relative;
  margin-left: 35px;
}

.benefits-text {
  font-size: 18px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.benefits-list-item {
  width: 33%;
  margin: 25px 0 15px;
}

.benefits-list-icon {
  width: 40px;
  height: 40px;
}

.benefits-list-title {
  width: 200px;
  font-size: 16px;
  margin-top: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #EB773E;
}

.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 15px;
}

/* Flats */
.flats-text {
  font-size: 18px;
  margin-left: 35px;
  margin-bottom: 15px;
}

.flats-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.flats-list-col {
  margin-right: 150px;
}

.flats-list-item {
  list-style-type: none;
  list-style-image: url(../img/square-bigger.png);
  list-style-position: inside;
  font-size: 20px;
  line-height: 35px;
}

/* Reviews */
.reviews-slider {
  position: relative;
  margin-top: 50px;
  margin-left: 35px;
  width: 100%;
  height: auto;
}

.reviews-slider-list {
  position: relative;
  display: flex;
}

.reviews-slide-item {
  width: 100%;
  max-width: 862px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation-name: fade;
  animation-duration: .5s;
}

.reviews-slide-item-mob {
  display: none;
}

.rev {
  position: relative;
  width: 380px;
  height: 410px;
  background:#fff;
}

.rev-square {
  width: 25px;
	height: 25px;
	background: #EB773E;
  position: absolute;
  top: -13px;
  left: 177px;
}

.rev-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ava {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
}

.name-star {
  margin-left: 32px;
  margin-top: 30px;
}

.name-star h4 {
  font-size: 18px;
  line-height: 23px; 
  margin-bottom: 15px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stars img {
  width: 28px;
  height: 28px;
  padding: 4px;
}

.stars img:first-child {
  margin-left: -4px;
}

time {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 10px;
  line-height: 13px;
  color: rgba(15, 70, 109, 0.8);
}

article {
  padding: 0 30px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
}

.rev-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.rev-link {
  display: inline-block;
  font-size: 16px;
  color: #0F466D;
  text-decoration: none;
  transition: color .1s linear;
}

.rev-link:after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #0F466D;
  margin-top: 5px;
  transition: width .1s linear;
}

.rev-link:hover {
  color: #EB773E;
}

.rev-link:hover:after {
  width: 100%;
  background-color: #EB773E;
}

.reviews-controls {
  margin-left: 35px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
}

.revs-arrow-left, 
.revs-arrow-right {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity linear .2s;
  margin-left: 14px;
  margin-right: 14px;
}

.revs-arrow-left:hover, 
.revs-arrow-right:hover {
  opacity: 1;
}

.revs-arrow-left img,
.revs-arrow-right img {
  width: 17px;
  height: 17px;
}

.reviews-slider-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 16px;
	height: 16px;
  margin-left: 14px;
  margin-right: 14px;
	background: #eb783e; 
  opacity: 50%;
  transition: opacity linear .2s;
}

.dot-mob {
  display: none;
}

.dot-active {
  opacity: 1;
}

/* Contacts */
.contacts-info {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  justify-content: space-between;
}

.contacts-title {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 25px;
}

.contacts-text {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 23px;
}

.contacts-info-text {
  display: flex;
  flex-direction: column;
}

.contacts-address {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contacts-address img {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.telefon {
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  color: #0F466D;
}

.contacts-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 35px;
}

.contacts-icons a {
  width: 45px;
  height: 45px;
}

.contacts-icon {
  width: 45px;
  height: 45px;
}

.contacts-img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.section-contacts {
  height: calc(100vh - 250px);
}

/* Footer */
.footer {
  height: 250px;
  display: flex;
  align-items: center;
  background-image: url(../img/background-color.png);
}

.footer-inner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.footer-inner-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}

.footer-copy {
  font-size: 16px;
  line-height: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

.footer-info-text a {
  font-size: 16px;
  font-weight: 700;
  color: #0F466D;
  cursor: pointer;
}

.footer-author {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  margin-top: 80px;
  opacity: 0.8;
}

.footer-author a {
  color:#0F466D;
  z-index: 1000;
  cursor: pointer;
}


/* Media Queries */
@media(min-width: 1500px) {
  /* container */
  .container {
    padding: 0 80px;
    max-width: 1056px;
  }
}

@media(max-width: 1380px) {
 /* container */
 .container {
    padding: 0 40px;
    max-width: 900px;
    margin-left: 29%;
 }

 .container-header {
    padding: 0 30px;
 }

 /* header */
 .header {
    width: 29%;
 }

 .square-nav {
    width: 25px;
    height: 25px;
    left: -33px;
 }

 .logo {
    width: 50px;
    height: 50px;
 }

 .nav-link {
    margin: 15px 0;
    font-size: 13px;
 }

 .header-tel {
    font-size: 18px;
 }

 .header-address-info {
    font-size: 13px;
 }

 /* Intro */
 .intro-title {
    font-size: 40px;
    line-height: 50px;
    padding-left: 25px;
    left: 0px;
    margin-bottom: 55px;
 }

 .intro-descriptor {
    font-size: 14px;
    line-height: 21px;
    left: 25px;
 }

 .intro-info {
    height: calc(100vh - 72px);
 }

 /* btn */
 .btn {
    width: 300px;
    height: 55px;
    padding-top: 16px;
    left: 30px;
    font-size: 16px;
 }

 /* section */
 .section {
    padding: 25px 0;
 }

 /* selection */
 .selection-title, 
 .benefits-title, 
 .flats-title, 
 .reviews-title {
    font-size: 28px;
    padding-left: 25px;
    margin-bottom: 25px;
 }

 .selection-info {
    margin-top: 5px;
 }

 .selection-img {
    width: 180px;
    height: 180px;
    margin-left: 25px;
    margin-right: 25px;
 }

 .selection-info-text p {
    font-size: 16px;
    line-height: 21px;
    width: 378px;
    margin-left: 5px;
    margin-bottom: 10px;
 }

 .selection-list {
    margin-left: 5px;
    margin-top: 5px;
 }

 .selection-point {
    font-size: 15px;
    line-height: 33px;
  }

  .selection-info-doing p {
    font-size: 15px;
  }

  .selection-info-doing {
    margin-left: 25px;
    margin-top: 25px;
  }

  .selection-info-doing-poins {
    margin-top: 0px;
    width: 619px;
  }

  .selection-info-doing-poins p {
    font-size: 13px;
    line-height: 20px;
    padding: 6px;
  }

  hr {
    margin-top: 37px;
  }

  .selection-btn {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .selection-btn .btn {
    left: 25px;
  }

  .selection-btn-info {
    font-size: 12px;
    line-height: 19px;
  }

  .selection-btn-info {
    margin-left: 90px;
    padding-left: 20px;
  }

  /* Benefits */
  .benefits-table {
    margin-left: 25px;
  }

  .benefits-text {
    font-size: 16px;
  }

  .benefits-list {
    margin-top: 20px;
  }

  .benefits-list-title {
    width: 170px;
    font-size: 14px;
    margin-top: 10px;
  }

  .benefits-list-text {
    font-size: 12px;
    margin-top: 10px;
  }

  .benefits-list-icon {
    width: 35px;
    height: 35px;
  }

  /* Flats */
  .flats-text {
    font-size: 16px;
    margin-left: 25px;
  }

  .flats-list {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .flats-list-col {
    margin-right: 100px;
  }

  .flats-list-item {
    font-size: 17px;
    line-height: 33px;
  }

  /* reviews */
  .reviews-slider {
    margin-top: 35px;
    margin-left: 25px;
  }

  .ava {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    margin-left: 25px;
  }

  .name-star {
    margin-left: 25px;
    margin-top: 25px;
  }

  .name-star h4 {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .stars img {
    width: 25px;
    height: 25px;
  }

  article {
    padding: 0 25px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 19px;
  }

  .rev-footer {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .rev {
    width: 300px;
    height: 368px;
  }

  .rev-link {
    font-size: 14px;
  }

  .rev-square {
    left: 152px;
  }

  .reviews-slide-item {
    max-width: 619px;
  }

  .reviews-controls {
    margin-left: 25px;
    margin-top: 40px;
    width: 100%;
    max-width: 619px;
  }

  /* Contacts */
  .section-contacts {
    height: calc(100vh - 150px);
  }

  .contacts-info {
    margin-left: 25px;
    width: 100%;
    max-width: 619px;
  }

  .contacts-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .contacts-text {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 21px;
  }

  .telefon {
    font-size: 18px;
  }

  .contacts-icons {
    width: 206px;
    margin-bottom: 25px;
  }

  .contacts-address {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contacts-img {
    width: 320px;
  }

  /* Footer */
  .footer {
    height: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer-copy {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
  }

  .footer-info {
    margin-top: 0px;
  }

  .footer-inner-info {
    max-width: 619px;
    margin-left: 25px;
  }

  .footer-author {
    margin-top: 25px;
    font-size: 11px;
  }

  .footer-info-text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media(max-width: 1025px) {
  /* header */
  .header {
    width: 29%;
  }

  .container-header {
    padding: 0 15px;
  }

  .header-inner {
    left: 10px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .square-nav {
    width: 20px;
    height: 20px;
    left: -30px;
  }

  .nav-link {
    margin: 10px 0;
    font-size: 11px;
    line-height: 22px;
    padding-left: 0;
  }

  .header-address {
    margin-bottom: 35px;
  }

  .header-tel {
    font-size: 17px;
  }

  .header-address-info {
    font-size: 12px;
  }

  /* container */
  .container {
    padding: 0 15px;
    max-width: 553px;
    margin-left: 30%;
  }

  /* Intro */
  .intro-descriptor {
    font-size: 13px;
    line-height: 19px;
    left: 15px;
    margin-top: 10px;
  }

  .intro-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 45px;
    padding-left: 15px;
  }

  .intro-info {
    width: 450px;
  }

  /* BTN */
  .btn {
    width: 215px;
    height: 45px;
    padding-top: 11px;
    font-size: 12px;
    left: 20px;
  }

  /* Titles */
  .selection-title, 
  .benefits-title, 
  .flats-title, 
  .reviews-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  /* selections */
  .selection-img {
    width: 140px;
    height: 140px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .selection-info-text p {
    font-size: 12px;
    line-height: 19px;
    width: 330px;
    margin-left: 5px;
  }

  .selection-point {
    font-size: 12px;
    line-height: 19px;
  }

  .selection-info-doing {
    margin-left: 15px;
    margin-top: 15px;
  }

  .selection-info-doing-poins {
    width: 505px;
  }

  .selection-info-doing p {
    margin-bottom: 15px;
  }

  .selection-info-doing-poins p {
    font-size: 11px;
    line-height: 17px;
    padding: 5px;
    margin-bottom: 15px;
  }

  hr {
    margin-top: 31px;
    width: 7px;
  }

  .selection-btn {
    margin-top: 10px;
  }

  .selection-btn .btn {
    left: 15px;
    width: 230px;
    top: 0;
  }

  .selection-btn-info {
    margin-left: 50px;
    padding-left: 15px;
  }

  .selection-btn-info {
    font-size: 11px;
    line-height: 14px;
  }

  /* benefits */
  .benefits-table {
    margin-left: 15px;
  }

  .benefits-text {
    font-size: 15px;
  }

  .benefits-list {
    margin-top: 5px;
    justify-content: space-between;
  }

  .benefits-list-item {
    margin: 15px 0 10px;
  }

  .benefits-list-icon {
    width: 30px;
    height: 30px;
  }

  .benefits-list-title {
    width: 147px;
    font-size: 12px;
    line-height: 17px;
  }

  .benefits-list-text {
    font-size: 10px;
    line-height: 16px;
  }

  /* flats */
  .flats-text {
    font-size: 15px;
    margin-left: 15px;
  }

  .flats-list {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .flats-list-col {
    margin-right: 70px;
  }

  .flats-list-item {
    font-size: 13px;
    line-height: 27px;
  }

  /* rev */
  .reviews-slider {
    margin-top: 25px;
    margin-left: 15px;
  }

  .reviews-slide-item {
    max-width: 505px;
  }

  .ava {
    width: 60px;
    height: 60px;
  }

  .name-star {
    margin-left: 15px;
  }

  .name-star h4 {
    font-size: 14px;
    line-height: 16px;
  }

  .rev {
    width: 245px;
    height: 310px;
  }

  .rev-square {
    left: 107px;
  }

  time {
    top: 20px;
    right: 15px;
  }

  .stars img {
    width: 20px;
    height: 20px;
  }

  article {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .rev-link {
    font-size: 12px;
    line-height: 16px;
  }

  .rev-footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .reviews-controls {
    margin-left: 15px;
    margin-top: 30px;
    max-width: 505px;
  }

  /* contacts */
  .contacts-info {
    margin-left: 15px;
    max-width: 505px;
  }

  .contacts-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .contacts-text {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  .contacts-address img {
    margin-right: 15px;
  }

  .contacts-img {
    width: 235px;
  }

  .contacts-address {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contacts-icons a {
    width: 40px;
    height: 40px;
  }

  .contacts-icon {
    width: 40px;
    height: 40px;
  }

  .contacts-icons {
    width: 195px;
    margin-bottom: 20px;
  }

  /* footer */
  .footer-inner-info {
    max-width: 505px;
    margin-left: 15px;
  }

  .footer-copy {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-info-text {
    font-size: 11px;
  }

  .footer-info-text a {
    font-size: 14px;
  }

  .footer-author {
    margin-top: 20px;
    font-size: 10px;
  }
}

@media (max-width: 825px) {
  .header {
    width: 28%;
  }

  .nav-link {
    font-size: 10px;
  }

  .container {
    margin-left: 28%;
  }
}

@media (max-width: 769px) {
  /*container */
  .container {
    margin: 0 auto 0 35px;
    padding: 0 10px;
    max-width: 700px;
  }

  /* header */
  .header {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1000;
    left: initial;
    width: 310px;
    right: 0;
  }

  .container-header {
    padding-right: 75px;
  }

  .header-inner {
    left: initial;
    border-left: none;
    align-items: flex-end;
    border-right: solid 1px #fff;
  }

  .show {
    transform: translateX(0);
  }

  .logo {
    left: 53px;
    top: 15px;
  }

  .navside {
    align-items: flex-end;
    left: 0;
    padding-right: 18px;
  }

  .nav-link {
    font-size: 12px;
    margin: 15px 0;
  }

  .square-nav {
    left: initial;
    width: 18px;
    height: 18px;
    right: -9px;
  }

  .header-address {
    padding-right: 18px;
    left: 0;
    text-align: right;
    margin-bottom: 20px;
  }

  .header-tel {
    font-size: 16px;
  }

  .header-address-info {
    font-size: 10px;
  }

  /* burger */
  label {
    position: absolute;
    top: 50%;
    left: -50px;
    display: block;
    width: 36px;
    height: 36px;
    margin: -30px auto 0 auto;
    cursor: pointer;
    background-color:#eb783e;
    padding: 3px 5px;
    transition: left 0.5s ease-in;
  }

  .open {
    left: -20px;
  }
  
  label div {
    position: relative;
    top: 0;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
  }

  label div:first-child {
    transform-origin: 0;
  }

  label div:last-child {
    margin-bottom: 0;
    transform-origin: 24px;
  }

  label div:nth-child(2) {
    right: 0;
    width: 26px;
  }

  #navTog:checked + label div:first-child {
    top: -4px;
    transform: rotateZ(45deg);
  }
  
  #navTog:checked + label div:last-child {
    top: 4px;
    transform: rotateZ(45deg);
  }
  
  #navTog:checked + label div:nth-child(2) {
    width: 35px;
    top: 1px;
    right: 5px;
    transform: rotateZ(-45deg);
  }

  /* section */
  .section {
    padding: 20px 0;
    height: 100%;
  }

  /* container */
  .container {
    margin: 0 auto;
    max-width: 750px;
    padding: 0 75px;
  }

  .container-inner {
    padding: 20px 0;
  }

  /* intro */
  .intro-img {
    display: none;
  }

  .intro-logo {
    position: absolute;
    right: 75px;
    padding: 5px;
    top: 15px;
    width: 45px;
    height: 45px;
    display: block;
  }

  .intro-logo img{
    width: 100%;
    height: auto;
  }

  .intro-img-mob {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .intro-descriptor {
    font-size: 12px;
    line-height: 18px;
  }

  .intro-info {
    width: 317px;
  }

  .intro-title {
    font-size: 24px;
    line-height: 30px;
    padding: 15px;
  }

  /* btn */
  .btn {
    width: 200px;
  }

  /* selection */
  .selection, 
  .benefits {
    height: auto;
  }

  .selection-title, 
  .benefits-title, 
  .flats-title, 
  .reviews-title {
    font-size: 20px;
    line-height: 26px;
  }

  .selection-info {
    flex-direction: column;
  }

  .selection-img {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
  }

  .selection-info-text {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .selection-info-text p {
    font-size: 14px;
    line-height: 18px;
  }

  .selection-point {
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .selection-info-doing-poins {
    font-size: 14px;
    line-height: 17px;
    width: 350px;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .selection-info-doing-poins p {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 76px;
    margin-bottom: 0px;
  }

  .selection-info-doing-poins br {
    display: none;
  }

  hr {
    height: 15px;
    margin: 0 auto;
    width: 2px;
  }

  .selection-btn-info {
    margin-left: 40px;
  }
  
  /* benefits */
  .benefits-text {
    font-size: 14px;
  }

  .benefits-list {
    width: 100%;
    max-width: 580px;
  }

  .benefits-list-item {
    width: 50%;
    padding: 10px 10px 10px 0;
  }

  .benefits-list-title {
    font-size: 14px;
    line-height: 18px;
    width: 158px;
  }

  .benefits-list-title br {
    display: none;
  }

  .benefits-list-text {
    font-size: 12px;
    line-height: 15px;
  }

  /* flats */
  .flats-text {
    font-size: 14px;
  }

  /* contacts */
  .contacts-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contacts-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .contacts-img {
    display: none;
  }

  .contacts-address {
    margin-bottom: 25px;
  }

  .contacts-icons {
    margin-bottom: 25px;
  }

  /* footer */
  .footer-copy {
    font-size: 10px;
    line-height: 14px;
  }

  .footer-info {
    align-items: flex-end;
  }

  .footer-info-text {
    font-size: 10px;
    line-height: 12px;
    width: 135px;
  }

  .footer-info-text a {
    font-size: 12px;
    line-height: 20px;
  }

  .footer-author {
    margin-top: 25px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 650px) {
  /* selection */
  .selection-btn-info {
    font-size: 10px;
  }
  
  /* reviews */
  .reviews-slide-item {
    display: none;
  }

  .reviews-slide-item-mob {
    display: block;
  }

  .rev {
    width: 270px;
  }

  .rev-square {
    left: 122px;
  }

  .dot-mob {
    display: block;
  }

  .reviews-controls {
    max-width: 270px;
  }
}

@media (max-width: 610px) {
  .container {
    padding: 0 15px;
  }

  /* intro */
  .intro-logo {
    right: 25px;
  }

  /* selection */
  .selection-btn {
    flex-direction: column;
  }

  .selection-btn-info {
    margin-left: 15px;
    margin-top: 20px;
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 476px) {
  /* container */
  .container {
    padding: 0 10px;
  }

  /* section */
  .section {
    padding: 15px 0;
  }

  /* intro */
  .intro-descriptor {
    font-size: 11px;
    line-height: 16px;
    margin-top: 5px;
    width: 197px;
  }

  .intro-title {
    font-size: 20px;
    line-height: 25px;
  }

  .btn {
    width: 170px;
    top: 100px;
  }
}

